html {
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
}
.main-content {
	max-width: none;
	height: 100%;
	margin: 0 80px 0px 260px;
	padding-top: 60px;
}
@media (max-width: 900px) {
	.main-content { 
		margin: 0 0 0 0;
	}
	.header {
		display: none;
	}
}
.container-full {
	margin: 0 auto;
	width: 100%;
}
.btn-state-change {
	margin: 10px;
	font-size: 3vmin;
}
.btn-state-change:hover {
	opacity: 0.5;
}
.btn-state-change:focus {
	outline: none;
}
.header {
	background-color: rgba(128,128,128,0.5);
	height: 50px;
	float:right;
	width: calc(100% - 180px);
}
.header .row {
	margin: 0;
}
.header-column {
	height: 100%;
	padding: 0;
}
.header-blocks {
	color:white;
	display: table;
	height: 100%;
	width: 100%;
}
.header-blocks span {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.header-status {
	border-radius: 20px;
	overflow: hidden;
	white-space: nowrap;
}
.header-status {
	font-size: 2.5vw;
}
.header-status-block span {
	padding: 0 20px 0px 20px;
    display: inline-block;
}
.header-status-block {
	text-align: center;
}
.colorpicker:before {
	border-left: 0; 
    border-right: 0; 
    border-bottom: 0 ;
}
.colorpicker.pull-right {
	width: 70%;
}
.row.change-state {
	display: flex;
	align-items: center;
	white-space: nowrap;
	overflow: hidden;
}
.row.change-state .colorpicker {
	width: 100%;
	margin-right: auto;
}
.row.change-state label {
	text-align: right;
	margin-left: auto;
	margin-bottom: 0;
}
.row-eq-height {
  display:flex;
}
.state-change-name {
	display: flex;
    align-items: stretch;
    width: 100%;
}
.state-change-name input {
	align-self: center;
}
.state-change-name button {
    height: 50%;
    align-self: center;
    width: 70%;
}
.state-change-name input[type=checkbox] {
    height: 20px;
    width: 20px;
    margin-right: auto;
}
.state-change-name label {
    white-space: nowrap;
    align-self: center;
    margin-bottom: 0;
    margin-left: auto;
}
.list-group.main-state {
	max-height: 20vh;
    overflow-y: auto;
    border: gray;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(99,99,99, .5);
}
.temp-hidden {
	display: none;
}
.dow {
	text-align: center;
	display: table-cell;
}
.dow input{
	margin:auto!IMPORTANT;
	position: relative!IMPORTANT;
}
.rule-list-item {
	border-right-width: 0;
	width: 95%!IMPORTANT;
	display: inline;
}
.delete-rule {
	border-left-width: 0;
	width: 5%!IMPORTANT;
	display: inline;
	box-sizing:border-box;
}
.delete-rule:hover {
	background-color: red!IMPORTANT;
	opacity: 0.5;
	box-sizing:border-box;
}